* {
    margin: o;
    padding: 0;
    font-family: "spartan";
}

.topImg {
    background-image: url(/images/bg-pattern-top-mobile.svg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.family {
    height: 50vh;
    margin: auto;
    width: 90%;
    margin-top: -30%;
}

.user1 h1 {
    color: hsl(300, 43%, 22%);
    font-size: 2.7rem;
    margin: auto;
    width: 90%;
    text-align: center;
    font-weight: 700;
}

.user1 .services {
    color: hsl(303, 10%, 53%);
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
}

.user2 {
    display: grid;
    margin-top: 3em;
    grid-gap: 1.8em;
}

.user2 .rate {
    background-color: hsl(300, 24%, 96%);
    height: 6em;
    border-radius: 12px;
    text-align: center;
    padding-top: 2em;
}

.rate h3 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.family2 {
    width: 90%;
    margin: auto;
}

.reviews {
    display: grid;
    grid-gap: 1.8em;
    margin-top: 30em;
}

.review {
    background-color: hsl(300, 24%, 96%);
    height: 16em;
    border-radius: 12px;
    background-color: hsl(300, 43%, 22%);
}

.reviews .photo {
    display: flex;
    width: 80%;
    margin: auto;
    grid-gap: 20px;
    margin-top: 7%;
}

.photo img {
    border-radius: 60px;
    width: 3.2em;
    margin-top: 12px;
}

.photo h3 {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.photo p {
    color: hsl(333, 80%, 67%);
    margin-top: -6px;
    font-weight: 400;
    opacity: 0.7;
}

.content{
    width: 80%;
    margin: auto;
    margin-top: 7%;
    font-weight: 500;
    line-height: 1.4em;
    color: hsl(0, 0%, 100%);
    justify-content: left;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 40%;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

.bottomImg {
    background-image: url(/images/bg-pattern-bottom-mobile.svg);
    height: 50vh;
    margin-top: -90%;
 }

 @media screen and (min-width: 1440px) {

    .topImg {
        background-image: url(/images/bg-pattern-top-desktop.svg);
        width: 50%;
        height: 50vh;
    }

    .family {
        width: 80%;
        margin-top: -17%;
    }

    .users {
        display: grid;
        grid-template-columns: 0.7fr 1.2fr;
        grid-gap: 10em;
    }

    .user1 h1{
        text-align: left;
        font-size: 3.6rem;
        width: 100%;
        line-height: 1em;
    }

    .user1 .services {
        text-align: left;
    }

    .user2 {
        margin-top: 1em;
        padding-bottom: 2em;
    }

    .user2 .rate {
        height: 3.8em;
        padding: 0em;
        display: flex;
        grid-gap: 0.5em;
        width: 60%;
    }

    .rate h3 {
       font-size: 15px;
       padding-top: 2%;
    }

    .rate .star {
        padding: 4.5% ;
    }

    #rate2 {
        margin-left: 10%;
    }

    #rate3 {
        margin-left: 20%;
    }

    .reviews {
        display: flex;
        margin-top: 0;
        width: 90%;
        margin: auto;
    }

    #review2 {
        margin-top: 2%;
    }

    #review3 {
        margin-top: 4%;
    }

    .attribution {
        padding-top: 8%;
        padding-bottom: 3%;
    }

    .bottomImg {
        background-image: url(/images/bg-pattern-bottom-mobile.svg);
        height: 50vh;
        margin-top: -90%;
     }
 }

